Repository Privatix/privatix, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gonzazoid, @Vitold55, @drew2a

.github/CODEOWNERS:

# about codeowners:
# https://help.github.com/articles/about-codeowners/

# notify ts-team about changes in ts files
*.ts            @gonzazoid @Vitold55

# notify drew2a about changes in scripts and settings
/.github/       @drew2a
/scripts/       @drew2a
/build/         @drew2a
/release/       @drew2a
/doc/           @drew2a
*.md            @drew2a

# notify devops team about changes in *config.json
# *config.json   @drew2a

update bitrock version
  .travis.yml
Owners: none

typo
  travis/atests/clear.sh
Owners: none

disable run tests by default
  travis/start_travis_build/vars.json
Owners: none

add python3 to ubuntu
  build/unix/build/container_ubuntu.sh
Owners: @drew2a

disable proxy build
  travis/script.sh
Owners: none

add fast build
  .travis.yml
  travis/fast_script.sh
  travis/start_travis_build/vars.json
Owners: none

change syntax
  .travis.yml
Owners: none

add mkdir
  travis/fast_script.sh
Owners: none

curl should fail on 404
  travis/install.sh
Owners: none

add update.sh to deb
  build/unix/build/deb.sh
Owners: @drew2a

win fast build
  build/win/new-fastpackage.psm1
  build/win/publish-fastdapp.ps1
  travis/fast_script.sh
Owners: @drew2a

curl -LOf
  travis/install.sh
Owners: none

reuse folder for upload
  build/win/new-fastpackage.psm1
Owners: @drew2a

fix working folder
  build/win/new-fastpackage.psm1
Owners: @drew2a

add run_tests.sh
  .travis.yml
  travis/atests/run_tests.sh
  travis/automated_tests.sh
  travis/upload_artifacts.sh
Owners: none

remove the wrong line
  travis/start_travis_build/vars.json
Owners: none

tests: endpoints via ENV
  tests/integrational/src/tests/init-tests/ws-initialization.spec.ts
Owners: @gonzazoid, @Vitold55

fast build for win (#216)
  build/win/new-fastpackage.psm1
  build/win/publish-fastdapp.ps1
  travis/fast_script.sh
Owners: @drew2a

tests: scopes
  tests/integrational/src/tests/index.spec.ts
Owners: @gonzazoid, @Vitold55

fix tests
  tests/integrational/src/configs/config.json
  tests/integrational/src/tests/smoke-tests/offerings.spec.ts
  tests/integrational/src/utils/offerings.ts
Owners: @gonzazoid, @Vitold55

fix link
  README.md
Owners: @drew2a

add run test
  travis/atests/deploy.sh
  travis/atests/run_tests.sh
Owners: none

remove --config call
  build/unix/build.global.config
  build/unix/build/deb.sh
  build/unix/vpn_mac.sh
  build/unix/vpn_ubuntu.sh
Owners: @drew2a

add telegram env
  tests/integrational/helpers/setenv.sh
  travis/atests/run_tests.sh
Owners: none

fix run tests
  .travis.yml
Owners: none

change install during deploy
  travis/atests/deploy.sh
Owners: none

remove dapp-installer config for win
  build/win/new-package.psm1
Owners: @drew2a

remove DAPP_INSTALLER_LINUX_CONFIG
  build/unix/build.global.config
Owners: @drew2a

wait pgsql up
  travis/atests/deploy.sh
  travis/start_travis_build/vars.json
Owners: none

fix path
  travis/atests/run_tests.sh
Owners: none

fix run tests
  .travis.yml
Owners: none

fix deb build
  build/unix/build/deb.sh
Owners: @drew2a

only deploy
  .travis.yml
  travis/atests/deploy.sh
Owners: none

fix install
  travis/atests/deploy.sh
Owners: none

revert to the full cycle
  .travis.yml
  travis/atests/deploy.sh
Owners: none

fix deb install
  build/unix/build/deb.sh
Owners: @drew2a

add agent-checker to *nix builds
  build/unix/build.global.config
  build/unix/vpn_mac.sh
  build/unix/vpn_ubuntu.sh
Owners: @drew2a

add agent-checker to fast build
  travis/fast_script.sh
Owners: none

add check_agent to mac distr
  build/unix/build.global.config
  build/unix/vpn_mac.sh
  tools/check_agent_mac/check_agent_mac.sh
Owners: @drew2a

add agent checker
  build/unix/build.global.config
  build/unix/vpn_mac.sh
  tools/check_agent_mac/check_agent_mac.sh
Owners: @drew2a
