Repository Privatix/privatix, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gonzazoid, @Vitold55, @drew2a

fix tests
  tests/integrational/src/tests/smoke-tests/get-eth-prix.spec.ts
  tests/integrational/src/utils/until.ts
Owners: @gonzazoid, @Vitold55

fix setenv.sh run
  tests/integrational/helpers/setenv.sh
  tests/integrational/src/configs/config.json
  travis/atests/run_tests.sh
  travis/start_travis_build/vars.json
Owners: none

update vars.json
  travis/start_travis_build/vars.json
Owners: none

get back proxy
  travis/script.sh
Owners: none

Update run_tests.sh
  travis/atests/run_tests.sh
Owners: none

disable proxy
  travis/script.sh
Owners: none

change env for tests
  travis/atests/run_tests.sh
Owners: none

migrate to both tests
  travis/atests/run_tests.sh
Owners: none

migrate to both tests fix
  travis/atests/run_tests.sh
Owners: none

fix runtest scipt
  travis/atests/run_tests.sh
Owners: none

test checkout
  travis/atests/run_tests.sh
Owners: none

complete check_agent_mac.sh
  build/unix/vpn_mac.sh
  build/unix/vpn_ubuntu.sh
  tools/check_agent_mac/check_agent_mac.sh
Owners: @drew2a

var local to remote add
  travis/atests/run_tests.sh
Owners: none

add to remote bot_pass
  travis/atests/run_tests.sh
Owners: none

fix typo
  build/unix/vpn_mac.sh
Owners: @drew2a

add readme.md
  tools/check_agent_mac/readme.md
  tools/dump_mac/readme.md
  tools/dump_ubuntu/readme.md
Owners: @drew2a

control run
  travis/atests/run_tests.sh
Owners: none

add check_agent_ubuntu.sh
  tools/check_agent_ubuntu/check_agent_ubuntu.sh
  tools/check_agent_ubuntu/readme.md
Owners: @drew2a

add check_agent_ubuntu.sh to package
  build/unix/vpn_ubuntu.sh
Owners: @drew2a

complete check_agent_ubuntu.sh
  tools/check_agent_ubuntu/check_agent_ubuntu.sh
Owners: none

complete check_agent_mac.sh
  tools/check_agent_mac/check_agent_mac.sh
  tools/check_agent_ubuntu/check_agent_ubuntu.sh
Owners: none

revert to agetn + client mode test
  travis/atests/run_tests.sh
Owners: none

divide client and agent run tests
  travis/atests/run_tests.sh
Owners: none

add sleep
  travis/atests/run_tests.sh
Owners: none

tests
  tests/integrational/package.json
  tests/integrational/src/tests/smoke-tests/index.ts
Owners: @gonzazoid, @Vitold55

increase node version
  .travis.yml
Owners: none

fix check issue after update
  tools/check_agent_mac/check_agent_mac.sh
  tools/check_agent_ubuntu/check_agent_ubuntu.sh
Owners: none

prixbot migrate to new ip
  tests/integrational/src/configs/config.json
Owners: none

change upload credentials
  travis/upload_artifacts.sh
Owners: none

improve check agent call
  tools/check_agent_mac/check_agent_mac.sh
  tools/check_agent_mac/readme.md
  tools/check_agent_ubuntu/check_agent_ubuntu.sh
  tools/check_agent_ubuntu/readme.md
Owners: @drew2a

add source to update
  build/unix/build/deb.sh
Owners: @drew2a

curl should fail on 404 (#217)
  travis/install.sh
Owners: none

change static artefacts urls
  .travis.yml
  build/unix/build.config
  travis/install.sh
Owners: @drew2a

fix artefacts curl downloading options
  build/unix/vpn_mac.sh
Owners: @drew2a

change bitrock download url
  travis/install.sh
Owners: none

upgrade bitrock to 20.2.0
  .travis.yml
  travis/install.sh
Owners: none

change bitrock url for ubuntu
  travis/install.sh
Owners: none

change bitrock source to github
  .travis.yml
  travis/install.sh
Owners: none

fix win build
  .travis.yml
  travis/install.sh
Owners: none

change license
  COPYING
  README.md
Owners: @drew2a

.github/CODEOWNERS:

# about codeowners:
# https://help.github.com/articles/about-codeowners/

# notify ts-team about changes in ts files
*.ts            @gonzazoid @Vitold55

# notify drew2a about changes in scripts and settings
/.github/       @drew2a
/scripts/       @drew2a
/build/         @drew2a
/release/       @drew2a
/doc/           @drew2a
*.md            @drew2a

# notify devops team about changes in *config.json
# *config.json   @drew2a
