Repository Privatix/privatix, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gonzazoid, @Vitold55, @drew2a

fix20
  travis/atests/deploy.sh
Owners: none

fix21
  travis/atests/deploy.sh
Owners: none

fix211
  travis/atests/deploy.sh
Owners: none

add install function
  travis/atests/deploy.sh
Owners: none

fix22
  travis/atests/deploy.sh
Owners: none

fix23
  travis/atests/deploy.sh
Owners: none

fix24
  .travis.yml
  travis/atests/clear.sh
Owners: none

deploy_agent1
  travis/atests/deploy.sh
Owners: none

ui change port
  travis/atests/clear.sh
  travis/atests/deploy.sh
Owners: none

fix deploy sh
  travis/atests/deploy.sh
Owners: none

add client install
  travis/atests/clear.sh
  travis/atests/deploy.sh
Owners: none

add dapp_supervisor
  build/unix/build/dapp-gui.sh
  build/unix/build/deb.sh
Owners: @drew2a

clear.sh changes
  .travis.yml
  travis/atests/clear.sh
  travis/atests/deploy.sh
Owners: none

fix303
  travis/atests/clear.sh
  travis/atests/deploy.sh
Owners: none

fix666
  travis/atests/clear.sh
Owners: none

fix667
  travis/atests/deploy.sh
Owners: none

fff
  travis/atests/deploy.sh
Owners: none

fix pkg name
  travis/atests/deploy.sh
Owners: none

fix999
  travis/atests/deploy.sh
Owners: none

fix client inst script
  travis/atests/deploy.sh
Owners: none

adjust win configs for upgrade (#208)
  build/win/new-package.psm1
Owners: @drew2a

copy update-config to product bin dir
  build/unix/build.global.config
  build/unix/vpn_mac.sh
  build/unix/vpn_ubuntu.sh
Owners: @drew2a

fix replace string
  build/unix/build/container_ubuntu.sh
Owners: @drew2a

trust local postgres ipv6 connections to db
  build/unix/build/container_ubuntu.sh
Owners: @drew2a

no more force update!
  travis/start_travis_build/vars.json
Owners: none

refactor clear.sh
  travis/atests/clear.sh
Owners: none

full flow test
  .travis.yml
  .travis_orig.yml
  .travis_tmp.yml
Owners: none

fix url
  travis/atests/deploy.sh
Owners: none

back to human url
  travis/atests/deploy.sh
Owners: none

delete decode block
  travis/atests/deploy.sh
Owners: none

kko
  travis/atests/deploy.sh
Owners: none

add deploy for autotests
  .travis.yml
  .travis_tmp.yml
  travis/atests/clear.sh
  travis/atests/deploy.sh
  travis/atests/id_rsa.enc
  travis/atests/ssh-config
Owners: none

refactoring
  .travis.yml
  .travis_tmp.yml
  build/unix/build.config
  travis/after_success.sh
  travis/atests/add_rsa.sh
  travis/atests/clear.sh
  travis/atests/deploy.sh
  travis/atests/ssh-config
  travis/start_travis_build/vars.json
Owners: @drew2a

update vars.json
  travis/start_travis_build/vars.json
Owners: none

fix deploy
  travis/after_success.sh
  travis/atests/deploy.sh
  travis/start_travis_build/vars.json
Owners: none

tests update
  tests/integrational/package.json
  tests/integrational/src/configs/config.json
  tests/integrational/src/tests/index.spec.ts
  tests/integrational/src/tests/init-tests/ws-initialization.spec.ts
  tests/integrational/src/tests/smoke-tests/backup-private-key.spec.ts
  tests/integrational/src/tests/smoke-tests/first-login.spec.ts
  tests/integrational/src/tests/smoke-tests/get-eth-prix.spec.ts
  tests/integrational/src/tests/smoke-tests/index.ts
  tests/integrational/src/tests/smoke-tests/init.spec.ts
  tests/integrational/src/tests/smoke-tests/offerings.spec.ts
  tests/integrational/src/tests/smoke-tests/second-login.spec.ts
  tests/integrational/src/tests/smoke-tests/transfer-prix.spec.ts
  tests/integrational/src/typings/settings.d.ts
  tests/integrational/src/typings/test-models.ts
  tests/integrational/src/utils/misc.ts
  tests/integrational/src/utils/offerings.ts
  tests/integrational/src/utils/ws.ts
Owners: @gonzazoid, @Vitold55

change client IP
  travis/atests/deploy.sh
Owners: none

supervisor remove added
  travis/atests/clear.sh
Owners: none

supervisor bug fix
  travis/atests/deploy.sh
Owners: none

supervisor bug fix
  travis/atests/deploy.sh
Owners: none

.github/CODEOWNERS:

# about codeowners:
# https://help.github.com/articles/about-codeowners/

# notify ts-team about changes in ts files
*.ts            @gonzazoid @Vitold55

# notify drew2a about changes in scripts and settings
/.github/       @drew2a
/scripts/       @drew2a
/build/         @drew2a
/release/       @drew2a
/doc/           @drew2a
*.md            @drew2a

# notify devops team about changes in *config.json
# *config.json   @drew2a
